<!--Setting-->
<template name="cpanel_setting">
    {{#if isSubReady "cpanel_setting"}}
        {{#autoForm collection=Cpanel.Collection.Setting id="cpanel_setting" doc=data type="update"}}
            <div class="row">
                <div class="col-md-6">
                    {{> afQuickField name='headOffice'}}
                </div>
                <div class="col-md-6">
                    {{> afQuickField name='baseCurrency'}}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
            <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>
