<!--Index-->
<template name="cpanel_branch">
    <p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>
    {{#if isSubReady "cpanel_branch"}}
        {{> tabular table=Cpanel.TabularTable.Branch class="table table-striped table-bordered table-condensed table-hover"}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<!--Action-->
<template name="cpanel_branchAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="cpanel_branchInsert">
    {{#autoForm collection=Cpanel.Collection.Branch id="cpanel_branchInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name='khName'}}
                {{> afQuickField name='khShortName'}}
                {{> afQuickField name='enName'}}
                {{> afQuickField name='enShortName'}}
                {{> afQuickField name='khAddress' rows=3}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name='enAddress' rows=3}}
                {{> afQuickField name='telephone'}}
                {{> afQuickField name='email'}}

                <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        </div>
    {{/autoForm}}
</template>

<!--Update-->
<template name="cpanel_branchUpdate">
    {{#autoForm collection=Cpanel.Collection.Branch id="cpanel_branchUpdate" doc=this type="update"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name='khName'}}
                {{> afQuickField name='khShortName'}}
                {{> afQuickField name='enName'}}
                {{> afQuickField name='enShortName'}}
                {{> afQuickField name='khAddress' rows=3}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name='enAddress' rows=3}}
                {{> afQuickField name='telephone'}}
                {{> afQuickField name='email'}}

                <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        </div>
    {{/autoForm}}
</template>

<!--Show-->
<template name="cpanel_branchShow">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>Kh Name</dt>
        <dd>{{khName}}</dd>
        <dt>Kh Short Name</dt>
        <dd>{{khShortName}}</dd>
        <dt>En Name</dt>
        <dd>{{enName}}</dd>
        <dt>En Short Name</dt>
        <dd>{{enShortName}}</dd>
        <dt>Kh Address</dt>
        <dd>{{khAddress}}</dd>
        <dt>En Address</dt>
        <dd>{{enAddress}}</dd>
        <dt>Telephone</dt>
        <dd>{{telephone}}</dd>
        <dt>Email</dt>
        <dd>{{email}}</dd>
    </dl>
</template>
