.double_click > tbody > tr {
    cursor: pointer;
}

.double_click > tbody > tr:hover{
    color: #337AB7;
}

.double_click > .input-sm{
    width: 200px;
}
#double_click-header{
    background-color:#f0ad4e;
}
.table tbody tr td thead{
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #000;
    text-align: center;
    border:double;
}
.emphasized {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}