<template name='laboratory_laboInvoice'>
    <!--Is ready-->
    {{#if data}}
        {{#reportTpl options}}
            {{#with data}}
                {{#with title}}
                    <div class="title">
                        <div class="title-1x-kh-muol">{{khName}}</div>
                        <div class="title-1x">{{enName}}</div>
                        <div style="text-decoration: underline;">Invoice</div>
                        <div class="title-2x">{{enAddress}}</div>
                    </div>
                {{/with}}
                {{#with header}}
                    <div style="width: 50%; padding-top: 12px; float: left;">
                        <ul class="list-unstyled">
                            <li>
                                <strong>PatientId</strong> {{patientId}}</li>
                            <li>
                                <strong>PatientName</strong> {{_patient.name}}</li>
                            <li>
                                <strong>Gender:</strong> {{_patient.gender}}</li>
                            <li>
                                <strong>Age:</strong> {{_patient.age}}</li>
                        </ul>
                    </div>
                    <div style="width: 50%; padding-top: 12px; float: right;">
                        <ul class="list-unstyled">
                            <li>
                                <strong>LaboId: </strong> {{_id}}</li>
                            <li>
                                <strong>LaboDate: </strong> {{laboDate}}</li>
                            <li>
                                <strong>PaymentDate</strong> {{date}}</li>
                        </ul>
                    </div>
                {{/with}}
                <!--Header-->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            N<sup>o</sup>
                        </th>
                        <th>Itemname</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each content}}
                        {{#each laboItem}}
                            <tr>
                                <td>{{index}}</td>
                                <td>{{itemName}}</td>
                                <td>{{qty}}</td>
                                <td>{{price}}</td>
                                <td>{{amount}}</td>
                            </tr>
                        {{/each}}
                    {{/each}}
                    </tbody>
                </table>
                <div style="width: 100%">
                    <!--Deposit-->
                    <div style="width: 50%; float: left">
                        <table class="table table-bordered">
                            <caption>Last Payment Info</caption>
                            <thead>
                            <tr>
                                <th>N<sup>o</sup></th>
                                <th>PaymentDate</th>
                                <th>paid Amount</th>
                            </tr>
                            </thead>

                            <tbody class="report-content-body">
                            {{#with custom}}
                                <tr class="td-custom">
                                    <td class="index-style">{{N}}</td>
                                    <td>{{paymentDate}}</td>
                                    <td>{{paidAmount}}</td>
                                </tr>
                            {{/with}}
                            </tbody>
                        </table>
                        <div style="width: 69%; margin-top: 20px">
                            <ul class="list-unstyled">
                                <li>
                                    <strong>អ្នកគិតលុយ :</strong> __________________
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Total-->

                </div>
                <div style="width: 48%; float: right; margin-top: 20px">
                    {{#with footer}}
                        <ul class="list-unstyled text-right">
                            <li>
                                <strong>Total KHR
                                    :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{total}}
                            </li>
                            <li>
                                <strong>Paid Amount :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{paidAmount}}
                            </li>

                            <div style=" margin-top: 20px;border-top:1px solid #000000; padding-top: 20px;">
                                <li>
                                    <strong>Total KHR:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{total}}
                                </li>
                                <li>
                                    <strong>Total KHR
                                        :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{totalKhr}}
                                </li>
                            </div>
                        </ul>
                    {{/with}}
                </div>
            {{/with}}
            <!--Sign-->
            {{> signFooter}}
        {{/reportTpl}}
        <!--Auto print-->
        <!--{{autoprint close="true"}}-->
    {{else}}
        {{> loading}}
    {{/if}}

</template>