<template name='laboratory_laboInvoice'>
    <!--Is ready-->
    {{#if data}}
        {{#reportTpl options}}

            {{#with data}}

                {{#with title}}
                    <div class="title">
                        <div class="title-1x-kh-muol">{{khName}}</div>
                        <div class="title-1x">{{enName}}</div>
                        <div style="text-decoration: underline;">Invoice</div>
                        <div class="title-2x">{{enAddress}}</div>
                    </div>
                {{/with}}
                {{#with header}}
                    <tr>
                        <td style="text-align: left" width="30%">labo : {{_id}}</td>
                        <td style="text-align: left" width="30%">Patient : {{_patient.name}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" width="30%">Date : {{date}}</td>
                        <td style="text-align: left" width="30%">Gender : {{_patient.gender}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" width="30%">Staff : {{_staff.name}}</td>
                        <td style="text-align: left" width="30%">Age : {{_patient.age}}</td>
                    </tr>
                {{/with}}
                <!--Header-->
                <table class="table table-bordered">
                    <thead>
                    <tr bgcolor="gray">
                        <th>
                            N<super style="text-decoration: underline;">0</super>
                        </th>
                        <th>Itemname</th>
                        <th>Name</th>
                        <th style="width:auto; text-align: center">Normal Value</th>
                        <th>Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each content}}
                        <tr>
                            <td>{{index}}</td>
                            <td>{{itemId}}</td>
                            <td>{{name}}</td>
                        </tr>

                    {{/each}}
                    </tbody>
                </table>






            {{/with}}

            <!--Sign-->
            {{> signFooter}}

        {{/reportTpl}}

        <!--Auto print-->
        <!--{{autoprint close="true"}}-->

    {{else}}
        {{> loading}}
    {{/if}}

</template>