<template name='laboratory_laboInvoice'>
    <!--Is ready-->
    {{#if data}}
        {{#reportTpl options}}
            {{#with data}}
                {{#with title}}
                    <div class="title">
                        <div class="title-1x-kh-muol">{{khName}}</div>
                        <div class="title-1x">{{enName}}</div>
                        <div style="text-decoration: underline;">Invoice</div>
                        <div class="title-2x">{{enAddress}}</div>
                    </div>
                {{/with}}
                {{#with header}}
                    <tr>
                        <td style="text-align: left" width="30%">labo : {{_id}}</td>
                        <td style="text-align: left" width="30%">Patient : {{_patient.name}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" width="30%">Date : {{date}}</td>
                        <td style="text-align: left" width="30%">Gender : {{_patient.gender}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" width="30%">Staff : {{_staff.name}}</td>
                        <td style="text-align: left" width="30%">Age : {{_patient.age}}</td>
                    </tr>
                {{/with}}
                <!--Header-->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            N<sup>0</sup>
                        </th>
                        <th>Itemname</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each content}}
                        {{#each laboItem}}
                            <tr>
                                <td>{{index}}</td>
                                <td>{{itemName}}</td>
                                <td>{{qty}}</td>
                                <td>{{price}}</td>
                                <td>{{amount}}</td>
                            </tr>
                        {{/each}}
                    {{/each}}
                    <tr>
                        <td colspan="4" align="right">
                            Total KHR (R):
                        </td>
                        <td>{{footer.total}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            Total USD ($):
                        </td>
                        <td>{{footer.totalInDollar}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            Paid Amount:
                        </td>
                        <td>{{footer.totalInDollar}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            OutStandingAmount:
                        </td>
                        <td>{{footer.totalInDollar}}</td>
                    </tr>
                    </tbody>
                </table>
            {{/with}}
            <!--Sign-->
            {{> signFooter}}
        {{/reportTpl}}
        <!--Auto print-->
        <!--{{autoprint close="true"}}-->
    {{else}}
        {{> loading}}
    {{/if}}

</template>