<template name="laboratory_navbar">
    <li class="{{isActiveRoute name='laboratory.home'}}"><a href="{{pathFor 'laboratory.home'}}">Home <i
            class="fa fa-home"></i></a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Manage Data <i class="fa fa-align-justify"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="{{isActiveRoute name='laboratory.patient'}}">
                <a href="{{pathFor 'laboratory.patient'}}"><i class="fa fa-wheelchair"></i> Patient</a>
            </li>
            <li class="{{isActiveRoute name='laboratory.agent'}}">
                <a href="{{pathFor 'laboratory.agent'}}"> <i class="fa fa-user-md"></i> Agent</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Reports <i class="fa fa-list"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="{{isActiveRoute name='Laboratory.laboReport'}}">
                <a href="{{pathFor 'Laboratory.laboReport'}}">Labo Report</a>
            </li>
            <li class="{{isActiveRoute name='Laboratory.laboBalanceReport'}}">
                <a href="{{pathFor 'Laboratory.laboBalanceReport'}}">LaboBalance Report</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="{{isActiveRoute name='Laboratory.paymentReport'}}">
                <a href="{{pathFor 'Laboratory.paymentReport'}}">Payment Report</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="{{isActiveRoute name='Laboratory.feeReport'}}">
                <a href="{{pathFor 'Laboratory.feeReport'}}">Fee Report</a>
            </li>
            <li class="{{isActiveRoute name='Laboratory.feeBalanceReport'}}">
                <a href="{{pathFor 'Laboratory.feeBalanceReport'}}">FeeBalance Report</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Settings <i class="fa fa-cogs"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="{{isActiveRoute name='cpanel.exchange'}}">
                <a href="{{pathFor 'cpanel.exchange'}}"><i class="fa fa-exchange"></i> Exchange</a>
            </li>
            <li class="{{isActiveRoute name='laboratory.category'}}">
                <a href="{{pathFor 'laboratory.category'}}"><i class="fa fa-sitemap"></i> Category</a>
            </li>
            <li class="{{isActiveRoute name='laboratory.items'}}">
                <a href="{{pathFor 'laboratory.items'}}"><i class="fa fa-th-large"></i> Items</a>
            </li>
            <!--<li class="{{isActiveRoute name='laboratory.measure'}}">-->
            <!--<a href="{{pathFor 'laboratory.measure'}}"><i class="fa fa-flask"></i> Measure</a>-->
            <!--</li>-->
            <li class="{{isActiveRoute name='laboratory.staff'}}">
                <a href="{{pathFor 'laboratory.staff'}}"><i class="fa fa-user"></i> Staff</a>
            </li>
        </ul>
    </li>
</template>
